    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

        {% assign page_description = page.description | default: page.excerpt | default: site.description %}
        {% assign page_description = page_description | strip_html | strip_newlines | truncate: 160 %}
        {% assign page_image = page.image | default: site.avatar %}
        {% if page_image and page_image contains 'http' %}
            {% assign absolute_image = page_image %}
        {% else %}
            {% assign absolute_image = site.url | append: site.baseurl | append: '/' | append: page_image | replace: '//', '/' | replace: 'https:/', 'https://' %}
        {% endif %}
        {% assign canonical_url = page.url | replace:'index.html','' | absolute_url %}

        <meta name="description" content="{{ page_description }}" />
        <meta property="og:description" content="{{ page_description }}" />
    <meta name="author" content="{{ site.name }}" />
        <link rel="canonical" href="{{ canonical_url }}" />

        <meta property="og:type" content="article" />
        <meta property="og:site_name" content="{{ site.name }}" />
        <meta property="og:url" content="{{ canonical_url }}" />
        <meta property="og:image" content="{{ absolute_image }}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:image" content="{{ absolute_image }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
        {% else %}
        <meta property="og:title" content="{{ site.name }}" />
        <meta property="twitter:title" content="{{ site.name }}" />
    {% endif %}